<div class="container-fluid d-flex h-100">

        <div class="h-100 flex-fixed-width-item">
            <app-sidebar></app-sidebar>
            <app-channels></app-channels>
        </div>
        
 <div class="flex-item-20" >



    <div class="col chats">
    	<div class="header">
    		<div class="row">
				    <div class="col links">
				    	<div class="link add-friend activated">
				    		<a href="#">Add Friend</a>	
				    	</div>
				    	<div class="link">
				    		<a href="#" class="">All</a>	
				    	</div>
				    	<div class="link">
				    		<a href="#" class="">Online</a>	
				    	</div>
				    	<div class="link">
				    		<a href="#" class="">Pending</a>	
				    	</div>
				    	<div class="link">
				    		<a href="#" class="">Blocked</a>	
				    	</div>				    					    	
				    </div>		
			</div>
    		
    	</div>
    	
    	<div class="seperator"></div>
    	
    	<app-add-friend></app-add-friend>

		
		
	</div>




 </div>
         

</div>