
<div class="container">
	<div [class.alertBox]="loginStatus">
		<div class="alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Alert!</strong> Please login first.
		</div>
	</div>
 <div class="row">
 	<div class="col"></div>
    <div class="col-6">
    		<h1 class="text-center mb-4">Sign In</h1>
    </div>
    <div class="col"></div>
 </div>
 <div class="row">
    <div class="col"></div>
    <div class="col-6">
	      <form (submit)="loginuser($event)">
				<label>Email</label>
				<input type="email" class="form-control" name="email" id="email" required><br>
				<label>Password</label>
				<input type="password" class="form-control" name="password" id="password"  required><br>
				<input type="submit" class="form-control btn btn-primary" name="submit" value="Send">
			</form>

			<button class="btn btn-social btn-facebook" id="facebook" (click)="socialSignIn('facebook')">
				<i class="fab fa-facebook"></i>	
				Sign Up with Facebook
			</button>
			<button class="btn btn-social btn-google" id="google" (click)="socialSignIn('google')">
				<i class="fab fa-google"></i>	
				Sign Up with Google
			</button> 
    </div>
    <div class="col"></div>
 </div>
</div> 


<!-- <div class="col" style="width: 40%;">
 

</div> -->