<div class="channels">
	<div id="search">
		<input type="text" name="search" (click)="openFormModal()" class="form-control" placeholder="Find or start a conversation">
	</div>
	<div class="seperator"></div>
	<div class="scroller">
		<a routerLink="/dashboard">
			<i class="material-icons" style="width: 24px;"> chats </i> 
			<div class="channels-name">Chats </div>
		</a>
		<a routerLink="/friends">
			<i class="material-icons"> group </i>
			<div class="channels-name">Friends </div>
		</a>
		<header>Direct Messages</header>
	</div>
	
	<div class="bottom-items">
		<div class="inner">
			<div class="status">
				<i class="material-icons"> signal_cellular_alt </i>Voice Connected
			</div>
			<a routerLink="">General / muji</a>
		</div>
		<div class="info">
			<div class=""><i class="material-icons"> info </i>
			</div>
			 <div tabindex="0" class="" role="button">
				<i class="material-icons">call_end </i>
			</div>
		</div>
	</div>

	<div class="bottom-items" style="margin-bottom: 0px">
		<div class="inner" style="display: flex;">
			<img src="{{image}}" id="profile-pic">
			<div class="status" style="font-size: 14px;">
				{{name}}<br>
			</div>
			<small id="profile-id">#1030</small>
		</div>
		<div class="info">
			<div class=""><i class="fas fa-microphone "></i>
				<i class="fas fa-headphones"></i>
			</div>
			 <div tabindex="0" class="" role="button">
				<i class="fas fa-cog dropdown-toggle" data-toggle="dropdown"></i>

				<ul class="dropdown-menu">
					<li><a routerLink="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>

