<!-- <div class="modal-header">
  
</div> -->
<div class="heading">Search for servers,channels or DMs</div>
<div class="modal-body">
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
  </button>
  <input type="text" name="search" class="form-control" value="@">
  
  


  	<div class="footer-items">
		<div class="seperator"></div>
		  <div class="right">
		  	   <a routerLink="">
			   <img src="../assets/enter.png" style="width: 40px;margin: 0;">
			   </a> to Select
			   <a routerLink="" (click)="activeModal.dismiss('Close clicked')">
			    <img src="../assets/if_esc_88115.png" style="width: 40px;margin: 0;">
			   </a> to Dismiss
		  </div>
		  <div class="left">
		  	<a routerLink="">
			<img src="../assets/tab.png" style="margin: 5px;">
			</a>or
		  	<a routerLink="">
			<img src="../assets/keyboard_key_up.png" style="width: 33px;margin: 0;">
			</a>
			<a routerLink="">
		    <img src="../assets/keyboard_key_up.png" style="transform: rotate(180deg);width: 33px;margin: 5px;">
		    </a> to Navigate   
		  	
		  </div>
	</div>
</div>
