    	<div class="row">
    		<div class="col-12 heading">
    			<h5>Add Friend</h5>
    		</div>
    		<div class="col-12 description" style="padding: 0;">
    			<p>You can add a friend by their Id</p>
    		</div>
    		<div class="col-12 search" style="padding: 0;">
    			<input type="text" id="search" class="form-control" name="">
    			<input type="submit" class="form-control" name="submit" id="submit" value="Send Request">
    		</div>
    			
    	</div>

    	<div class="row">
    		<div class="col-12 heading">
    			<h5>Friend Suggestion</h5>
    		</div>
    	</div>